.color-picker-dropdown{
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
@media (max-width: 540px) {
    
}