.body-container{
    padding: 15px 0;
}
.s-body{
    padding-top: 135px;
}
.container-child{
    position: relative;
    min-height: calc(100vh - 135px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    margin-bottom: 100px;
}
.dark-child{
    background: var(--secondary-bg-light);
}
.dark-wave{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 5px 5px 5px var(--primary-shadow-dark-light);
}
.dark-wave-2{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.half-div{
    width: 50%;
}
.quarter-div{
    width: 33%;
}
.container-divider{
    margin: 20px 0 50px 0;
    width: 25%;
    height: 12px;
    /* background-color: var(--primary-color-light); */
    border-radius: 10px; 
}
.container-col-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-div{
    margin-top: 30px;
    margin-bottom: -2%;
}
.centered-2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.whybox > h3{
    margin-top: 20px;
}
.border-left > p{
    border-left: 3px solid var(--primary-color-light);
    padding-left: 15px;
}
#projects{
    margin-bottom: -0px;
}
@media (max-width: 540px) {
    #hideclinttitle,
    .hide-on-phone{
        display: none;
    }
    .container-col-flex{
        margin-top: 100px;
        
    }
    .container-child{
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        min-height: 100vh;
    }
    .half-div,
    .quarter-div{
        width: 90%;
    }
    .text-box{
        margin-top: 50%;
        font-size: 0.7em;
    }
    .hxt{
        text-align: center;
    }
    
}