.body-container{
    padding: 15px 0;
}
.s-body{
    padding-top: 135px;
}
.container-child{
    position: relative;
    min-height: calc(100vh - 135px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}
.dark-child{
    background: var(--secondary-bg-light);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 5px 5px 5px var(--primary-shadow-dark-light);
}
.half-div{
    width: 50%;
}