header{
    background: var(--primary-bg-light);
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 5px 15px;
    
}
.h-icon{
    padding: 5px;
    border-radius: 50%;
}
.h-icon > img{
    height: 55px;
    margin-left: 5px;
    margin-top: 5px;
}
.h-nav{
    display: inline-flex;
    list-style: none;
    flex: 1;
    font-weight: bold;
}
.h-nav > li{
    margin-left: 30px;
    text-transform: capitalize;
    cursor: pointer;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
